body,
html {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
  background-repeat: no-repeat;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.dasboard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.welcome {
  font-size: 20px;
}

.week-data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  padding-bottom: 10px;
  height: auto;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.daily-step-goal {
  width: 25vw;
  height: 26vh;
}

p {
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 0;
}

.user-info {
  width: 25vw;
  height: 50vh;
}

.sleep {
  width: 42vw;
  height: 42vh;
}

hr {
  width: 90%;
}

.hydration {
  width: 42vw;
  height: 34vh;
}

.boxes {
  padding: 15px;
  margin: 5px;
  font-size: 20px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  box-shadow: 1px 2px;
}

.week {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-around;
}

.box-titles {
  font-size: 30px;
  margin-top: 1px;
}
