body,
html {
  /* background-image: url("https://churchviewmedicalpractice.com/images/health_images/physical-activity.jpg"); */
  color: #F5F5F5;
  background-color: #101010;
  /* background-repeat: no-repeat; */
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title{
  margin-top: 30px;
  font-size: 40px;
}
.dasboard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
}

.welcome {
  font-size: 20px;
}

.week-data {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  padding-bottom: 10px;
  height: auto;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.daily-step-goal {
  width: 25vw;
  height: 26vh;
}

.data-color {
  color: #ff9900;
}

p {
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 0;
}

.user-info {
  width: 25vw;
  height: 50vh;
}

.sleep {
  width: 50vw;
  height: 42vh;
}

hr {
  width: 90%;
}

.hydration {
  width: 50vw;
  height: 34vh;
}

.boxes {
  padding: 15px;
  margin: 5px;
  font-size: 20px;
  background-color: #202020;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #303030 1px;
  /* box-shadow: 1px 2px; */
}

.week-font {
  font-size: 15px;
}

.week {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-around;
}

.week-data {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sleep-row {
  display: inline-block;
}

.week-sleep {
  display: flex;
  /* flex-direction: row;
  width: 50vw; */
  justify-content: space-between;
}

.box-titles {
  font-size: 30px;
  margin-top: 1px;
}
