body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:monospace
}

.welcome {
  font-size: 20px;
}

.ounces-today{
  font-size: 22px;
}

.week-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  padding-bottom: 10px;
  height: 105px;
}


.top-section {
display: flex;
flex-direction: row;
}

.daily-step-goal {
  width: 40vw;
  height: 40vh;

}

/* .box-titles {

} */

.friends {
  width: 15vw;
}

.sleep {
  width: 30vw;
}

.hydration {
  width: 86vw;
  height: 50vh;
}

.boxes {
  margin: 2px;
  font-size: 20px;
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black 1px;
  box-shadow: 1px 2px;
}

.week {
  display: flex;
  flex-direction: row;
  width: 86vw;
  justify-content: space-around;
}

.pTag {
  display: flex;
  height: 7px;
  width: 20px;
  justify-content: center;
}
